* {
    box-sizing: border-box;
}

body {
    background-color: white;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', arial;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/*Header Area*/
header {
    margin: 0;
    padding: 0;
    background-color: #1F2937;
    color: white;
}
ul {
    list-style-type: none;
}
li {
    display: inline-block;
    padding: 0px 20px;
}
a {
    text-decoration: none;
    color: white;
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}
.header-logo {
    height: 84px;
    width: 84px;
    margin-right: auto;
    cursor: pointer;
}

/*Intro Area*/
.intro {
    background: #1F2937;;
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 90px;
}
.intro .text-box {
    max-width: 500px;
    gap: 0;
}
.text-box h1{
    font-size: 48px;
    margin-bottom: 0px;
}
.intro img {
    height: 300px;
    width: 300px;
}
.intro .text-box, 
.intro .intro-img {
    margin-bottom: 5%;
}
.text-box button {
    display: block;
    text-align: center;
    width: 110px;
    border: none;
    background-color: darkcyan;
    padding: 10px;
    border-radius: 8px;
    color: white;
    font-family: 'Roboto', arial;
    font-weight: bold;
    cursor: pointer;
}

/*Random Information Area*/
.various{
    margin-bottom: 5%;
    align-items: center;
}
.various h2 {
    margin: 5%;
    display: flex;
    justify-content: center;
}
.various-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}
[class ^="info-"] {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.various-info img {
    width: 200px;
    height: 200px;
    border: 4px solid darkblue;
    border-radius: 15px;
}
.various-info p {
    max-width: 190px;
    text-align: center;
}

/*Quote Area*/
.quote {
    width: 100%;
    background-color: #E5E7EB;
    margin-bottom: 5%;
    padding: 5% 0;
    display: flex;
    justify-content: center;
}
.quote .quote-text {
    margin: 0;
    padding: 0;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
}
.quote-text h2 {
    font-style: italic;
    font-weight: lighter;
}
.quote-text h3 {
    font-size: 25px;
    display: flex;
    align-self: end;
}

/*Sign-up Area*/
.sign-up {
    width: 100%;
    margin-bottom: 5%;
    padding: 5% 0;
    display: flex;
    justify-content: center;
}
.sign-up .sign-up-box {
    margin: 0;
    background-color: #1F2937;
    width: 1000px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.sign-up-box .text {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
}
.sign-up-box .button {
    width: 110px;
    height: 50px;
    display: flex;
    align-self: center;
}
/* .text-box button { 
    display: block;
    text-align: center;
    width: 110px;
    border: none;
    background-color: darkcyan;
    padding: 10px;
    border-radius: 8px;
    color: white;
    font-family: 'Roboto', arial;
    font-weight: bold;
    cursor: pointer;
} */

footer {
    margin: 0;
    padding: 0;
    padding: 1%;
    background-color: #1F2937;
    color: white;
    text-align: center;
}