.container {
    height: 100%;
}

header {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: darkblue;
    color: white;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
    padding: 0px 20px;
}

a {
    text-decoration: none;
    color: white;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.header-logo {
    height: 100px;
    width: 100px;
    position: relative;
}

.intro {
    position: relative;
    background: darkblue;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.intro .text-box {
    position: relative;
    max-width: 500px;
    gap: 0;
}

.intro img {
    height: 300px;
    width: 300px;
}

.intro .text-box, 
.intro .intro-img {
    margin-bottom: 5%;
}

.various-info {
    text-align: center;
}

.various-info .various-image {
    display: flex;
    flex-direction: row;
}