.container {
    height: 100%;
}

/*Header Area*/
header {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: darkblue;
    color: white;
}
ul {
    list-style-type: none;
}
li {
    display: inline-block;
    padding: 0px 20px;
}
a {
    text-decoration: none;
    color: white;
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}
.header-logo {
    height: 100px;
    width: 100px;
    position: relative;
    cursor: pointer;
}

/*Intro Area*/
.intro {
    position: relative;
    background: darkblue;
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.intro .text-box {
    position: relative;
    max-width: 500px;
    gap: 0;
}
.intro img {
    height: 300px;
    width: 300px;
}
.intro .text-box, 
.intro .intro-img {
    margin-bottom: 5%;
}

/*Random Information Area*/
.various{
    position: relative;
    width: 100%;
    margin-bottom: 5%;
}
.various h2 {
    margin: 5%;
    display: flex;
    justify-content: center;
}
.various-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
[class ^="info-"] {
    display: flex;
    flex-direction: column;
}
.various-info img {
    width: 200px;
    height: 200px;
}
.various-info p {
    max-width: 200px;
    text-align: center;
}

/*Quote Area*/
.quote {
    position: relative;
    width: 100%;
    background-color: darkblue;
    color: white;
    margin-bottom: 5%;
    padding: 5% 0;
    display: flex;
    justify-content: center;
}
.quote .quote-text {
    margin: 0;
    padding: 0;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
}
.quote-text h3 {
    display: flex;
    align-self: end;
}

/*Sign-up Area*/
.sign-up {
    position: relative;
    width: 100%;
    margin-bottom: 5%;
    padding: 5% 0;
    display: flex;
    justify-content: center;
}
.sign-up .sign-up-box {
    margin: 0;
    background-color: darkblue;
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.sign-up-box .text {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
}
.sign-up-box .button {
    width: 100px;
    height: 50px;
    display: flex;
    align-self: center;
}

footer {
    margin: 0;
    padding: 0;
    padding: 1%;
    box-sizing: border-box;
    background-color: darkblue;
    color: white;

    text-align: center;
}